{% load static %}

<!DOCTYPE html>
<html dir="rtl">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}انتخاب واحد نوشیروانی{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel = "icon" href ="{% static 'icons/icon.png' %}"  type = "image/x-icon">
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"
      integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">انتخاب واحد نوشیروانی</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if user.is_authenticated %}
              {% else %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'login' %}">ورود</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">ثبت نام</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'about' %}">درباره ما</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">|</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'see-favourite' %}">{{ user.first_name }} {{ user.last_name }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active link-info" href="{% url 'see-favourite' %}">دیدن علاقه مندی ها</a>
              </li>
              {% if request.session.choosed %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'suggest' %}">پیشنهادات</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'logout' %}">خروج</a>
              </li>
              {% endif %}
              
            </ul>
            {% block search_bar %}{% endblock search_bar %}
          </div>
        </div>
      </nav>
      {% block content %}
      {% endblock content %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    {% block ajax %}
    {% endblock ajax %}
  </body>
</html>
